# Környezeti változók
.env

# Node modules
node_modules/

# Editor fájlok
.vscode/
.DS_Store
Thumbs.db

# Log fájlok
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / Cache / dist mappák, ha használsz
dist/
build/
.cache/
